.container{
  display: flex;
  flex-direction: colum;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: lightgray;
}
.menu{
  flex: 5%;
  background-color: lightgray;
}
.content{
  flex: 70%;
  background-color: white;
}
.footer{
  flex: 10%;
  background-color: lightgray;
}
















h1 {
  color: red;
}
.f1 {
   color: tomato;
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
.f2 {
   color: black;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 15px;
  font-weight: normal;
  font-family: Arial;
}

